In [2]:
import pandas as pd

df = pd.read_csv('./Data/BTCUSDT_1M.csv')

In [3]:
df

,timestamp,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore
0,2017-08-17 04:00:00,4261.48,4261.48,4261.48,4261.48,1.775183,1502942459999,7564.906851,3,0.075183,320.390851,7960.540180
1,2017-08-17 04:01:00,4261.48,4261.48,4261.48,4261.48,0.000000,1502942519999,0.000000,0,0.000000,0.000000,7960.452630
2,2017-08-17 04:02:00,4280.56,4280.56,4280.56,4280.56,0.261074,1502942579999,1117.542921,2,0.261074,1117.542921,7960.375295
3,2017-08-17 04:03:00,4261.48,4261.48,4261.48,4261.48,0.012008,1502942639999,51.171852,3,0.012008,51.171852,7960.375295
4,2017-08-17 04:04:00,4261.48,4261.48,4261.48,4261.48,0.140796,1502942699999,599.999338,1,0.140796,599.999338,7960.375295
...,...,...,...,...,...,...,...,...,...,...,...,...
2279877,2021-12-23 07:18:00,48399.24,48407.98,48384.86,48390.19,16.975530,1640243939999,821545.308444,550,6.962200,336945.649008,0.000000
2279878,2021-12-23 07:19:00,48390.20,48417.98,48390.19,48417.98,9.188340,1640243999999,444728.972745,429,5.613600,271705.824917,0.000000
2279879,2021-12-23 07:20:00,48417.97,48439.82,48406.19,48430.60,7.366720,1640244059999,356696.762246,416,4.328860,209595.388489,0.000000
2279880,2021-12-23 07:21:00,48430.61,48442.00,48419.95,48425.96,6.630590,1640244119999,321128.925970,338,2.573120,124620.905578,0.000000
2279881,2021-12-23 07:22:00,48425.97,48450.00,48421.11,48437.57,6.360080,1640244179999,308071.138610,325,2.373350,114962.941191,0.000000

In [4]:
df = df.drop(["close_time", "quote_av","trades","tb_base_av","tb_quote_av","ignore"], axis=1)

In [6]:
df.to_csv('./Data/CleanBTCUSDT_1M.csv', index=False)